.stationlist{
    background:transparent url(./img/StationList.png) no-repeat;
    min-height: 100vh;
    min-width: 100vw;
    overflow: hidden;
    background-size:cover;
}

.stationlist_main{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
  padding: 20px;
  position: relative;
}

.stationlist_close {
    border: none;
    background: transparent url(./img/close.png) no-repeat;
    background-size: cover;
    width: 34px;
    height: 34px;
    top: 20px !important;
    right: 10px !important;
    justify-self: end;
    position: absolute;
}

.text_stationlist{
  grid-column: 1 / span 2;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10%;
  text-shadow: -2px 5px 2px #3546065f;
  color: #526b0e;
  font-size: 250%;
  font-weight: 900;
}

.station_name{
  padding: 0;
  list-style-type: none;
}

.text_station {
    background: transparent;
    border: none;
    outline: none;
    color: #526b0e;
    font-size: 150%;
    font-weight: 600;
    text-align: left;
}



.inp_checkbox {
    background: transparent;
    border: none;
    outline: none;
    text-align: center;
    transform: scale(1.5);
}   

input{
    margin: 1rem;
}


  