.code{
  background: url(./img/background.jpg);
  background-size:cover;
  min-height: 100vh;
  min-width: 100vw;
  overflow: hidden; 
}

.code_main{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 50% 5% 30% 5%;
  margin: auto;
  
  
}

.code_text{
  display: flex;
  justify-content: center;
  text-align: center;
  text-shadow: -2px 5px 2px #3546065f;
  color: #526b0e;
  font-size: 215%;
  font-weight: 900;
 
}



.input{
  display: flex;
  width: 90%;
  height: 2rem;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5%;
  margin-bottom: 5%;
  font-size: 18px;
  font-weight: 200;
  background-color: #f9e7c4;
  border-radius: 10px;
  outline: none;
  border-color: #f8e1b2;
  text-align: center;
}



.btn_next {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10%;
  margin-bottom: 10%;
  border: 0;
  outline: 0;
  border-radius: 15px;
  color: #fff;
  font-weight: 900;
  font-size: 18px;
  background: #738F23;
  box-shadow: -2px 5px 2px rgba(51, 25, 0, 0.25);
 
  padding: 10px 20px;
  
}