.admin-screen {
  background: url(./img/Adminscreen.jpg);
  background-size:cover;
  background-repeat: no-repeat;
  min-height: 100vh;
  min-width: 100vw;
}




.frame-parent2 {
  max-width: 360px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 30px;
  min-height: 90vh;
  padding: 50px 25px;
  margin: auto;
}



.buttons {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.btn {
  border: 0;
  outline: 0;
  border-radius: 15px;
  color: #fff;
  font-weight: bold;
  margin: 0;
  font-size: 18px;
  padding: 10px 30px;
  background: #738F23;
  box-shadow: -2px 5px 2px rgba(51, 25, 0, 0.25);
}

.btn_wide {
  display: block;
  width: 100%;
}

.btn_right {
  margin-left: auto; 
  display: block;
}

.btn_small {
  padding: 10px 20px;
}

.admin_text {
  color: #41540B;
  text-shadow: -2px 5px 2px rgba(51, 25, 0, 0.25);
  
  
}
.hello{
  font-size: 215%;
}
.creat{
  font-size: 125%;
}