.results {
  background-color: #b0c672;
  min-height: 100vh;
  min-width: 100vw;
  overflow: hidden;
  background-size:cover;
}

.result_main {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
  padding: 20px;
  position: relative;
}

.result_close {
  border:none;
  background:  url(./img/close.png) no-repeat;
  background-size: cover;
  width: 34px;
  height: 34px;
  top: 10px !important;
  right: 10px !important;
  justify-self: end;
  position: absolute;
}

.result_text {
  grid-column: 1 / span 2;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10%;
  text-shadow: -2px 5px 2px #3546065f;
  color: #526b0e;
  font-size: 250%;
  font-weight: 900;
}

.Inform {
  grid-column: 1 / span 2;
  display: flex;
  justify-content: space-around;
}

.text_namecomand,
.text_score {
  color: #526b0e;
  font-size: 175%;
  font-weight: 500;
  text-align: center;
}

.text_namecomand{
  
  text-align: left;
}

.list_inp {
  background: transparent;
  border: none;
  outline: none;
  text-align: center;
}

.result_list {
  padding: 0;
  list-style-type: none;
}

.result_list_elem {
  margin-bottom: 10px;
}

.text_comand {
  color: #526b0e;
  font-size: 150%;
  font-weight: 500;
  text-align: left;
}

