.results{
  background-color: #B0C672;
  min-height: 100vh;
  min-width: 100vw;
}


.result_main {
  display: grid;
  grid-template-columns: 40% 40% 20%;
  grid-template-rows: 10% 10% 20% 60%;
  height: 100%;
  grid-template-areas:
      "close close      close"
      "result_text result_text result_text"
      "text_namecomand text_namecomand text_score"
      "text_comand     text_comand       score"
      ;
}


#close{
  grid-area: close;
}

#result_text{
  grid-area: result_text;
}

#text_namecomand{
  grid-area: text_namecomand;
}

#text_score{
  grid-area: text_score;
}

#text_comand {
  grid-area: text_comand;
}

#text_score{
  grid-area: text_score;
}


.close{
  border: 0;
  padding: 0;
  background-color: transparent;
  width: 34px;
  height: 34px;
  background-image: url(./img/close.png);
  background-size: cover;
  margin-left: auto; 
  display: block;
}

.result_text{
  display: flex;
  align-items: center;
  justify-content: center;
  text-shadow: -2px 5px 2px #3546065f;
  color: #526b0e;
  font-size: 215%;
  font-weight: 900;
  position: sticky;
}

.Inform{
  display: flex;
  flex-direction: row;
}

.text_namecomand{
  display: block;
  color: #526b0e;
  font-size: 115%;
  /* margin-right: auto; */
  /* text-align: right; */
  font-weight: 500;
}

.text_score{
  display: block;
  color: #526b0e;
  font-size: 115%;
  margin-left: auto;
  font-weight: 500;
}

.list_inp{
  background: transparent;
  border: none;
  outline:none;
}

.result_list_elem{
  display: flex;

}

.text_comand{
  display: block;
  color: #526b0e;
  font-size: 100%;
  margin-left: auto;
  font-weight: 500;
  float: right;
}


