.first-frame,
.frame-container
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.frame-container 
{
    height: 726px;
    gap: 173px;
    cursor: pointer;
}
.first-frame 
{
    position: relative;
    width: 100%;
    height: 800px;
    overflow: hidden;
    background-image: url(/src/img/FirstFrame1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    mix-blend-mode: normal;
}
.menu-wrapper 
{
    width: 327px;
    height: 34px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-start;
}
.menu1 
{
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: relative;
  width: 34px;
  height: 34px;
  transform: rotate(180deg);
  transform-origin: 0 0;
  background-image: url(/src/img/Menu.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}