.teamedit {
    background-color: #b0c672;
    min-height: 100vh;
    min-width: 100vw;
    overflow: hidden;
    background-size: cover;
}

.teamedit_main {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 20px;
    position: relative;
}

.teamedit_close {
    border: none;
    background: url(./img/Close.png) no-repeat;
    background-size: cover;
    width: 34px;
    height: 34px;
    top: 10px !important;
    right: 10px !important;
    justify-self: end;
    position: absolute;
}

.teamedit_header {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
}

.teamedit_text {
    text-shadow: -2px 5px 2px #3546065f;
    color: #526b0e;
    font-size: 200%;
    font-weight: 900;
}

.teamedit_password {
    font-size: 150%;
    font-weight: 600;
}

.set_team_name,
.set_team_password {
    width: 60vw;
    height: 5vh;
    font-size: 100%;
    border: none;
    background: #fbd193;
}

@media (min-width: 700px) {

    .set_team_name,
    .set_team_password {
        font-size: 20px;
    }
}




.teamedit_save_btn {
    display: flex;
    align-items: center;
    
  
    margin-left: auto;
    margin-right: auto;
    margin-top: 20%;
    margin-bottom: 10%;
    border: 0;
    outline: 0;
    border-radius: 15px;
    color: #526b0e;
    font-weight: 900;
    font-size: 18px;
    background: #fbd193;
    box-shadow: -2px 5px 2px rgba(51, 25, 0, 0.25);
   
    padding: 10px 20px;
    
  }