.team {
    background-color: #b0c672;
    min-height: 100vh;
    min-width: 100vw;
    overflow: hidden;
    background-size: cover;
}

.team_main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    padding: 20px;
    position: relative;
}

.team_close {
    border: none;
    background: url(./img/Close.png) no-repeat;
    background-size: cover;
    width: 34px;
    height: 34px;
    top: 10px !important;
    right: 10px !important;
    justify-self: end;
    position: absolute;
}

.team_header {
    grid-column: 1 / span 2;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.team_text,
.team_name {
    text-shadow: -2px 5px 2px #3546065f;
    color: #526b0e;
    font-size: 150%;
    font-weight: 900;
}

.team_name {
    color: #41540B;
    font-size: 125%;
    font-weight: 700;
}

.team_passed_stations_list {
    grid-column: 1 / span 2;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: space-around;
    align-content: space-around;
}

.team_pslist_text {
    font-size: 125%;
    font-weight: 700;
    text-shadow: none;
    text-align: center;
    background-color: #be94b0;
    padding: 0.5vw 1vw;
    border-radius: 5vw;
    color: #41540B;
}

@media (min-width: 700px) {
    .team_pslist {
        margin-left: 15%;
    }
}

.team_pslist_elem {
    color: #41540B;
    white-space: normal;
}

.team_footer {
    grid-column: 1 / span 2;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 10%;
}

.nextst_btn {
    border: none;
    background: url(./img/nextstation_btn.png) no-repeat;
    background-size: contain;
    background-repeat: no-repeat;
    width: 250px;
    height: 100px;
}